.chat
  .chat-top
    .chat-top-left
      .chat-top-left-current 
        = @group.name
      .chat-top-left-member 
        - @group.users.each do |user|
          = "#{user.name}"
        
    .chat-top-right 
      =link_to "Edit",edit_group_path(@group),class:"edit" 
           
  .chat-main
    = render @messages
    -# .chat-main-message
    -#   = render @messages
      -# .chat-main-message-top
      -#   .chat-main-message-top-name
  
      -#   .chat-main-message-top-date
          
      -# .chat-main-message-text
      

  .chat-bottom
    = form_for [@group, @message] do |f|
      .chat-bottom-message
        .chat-bottom-message-box
          = f.text_field :content, class: 'chat-bottom-message-box-text', placeholder: 'type a message'  
          = f.label :image, class: 'chat-bottom-message-box-label' do
            = icon('fas', 'image', class: 'iconn')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'chat-bottom-message-submit'

        